@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

html {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.guide-wrapper {
    display: block;
    opacity: 0;
    transition: 0.5s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: black;
    box-shadow: rgba(60, 64, 67, 0.3) 1px 2px 3px 1px, rgba(60, 64, 67, 0.15) 1px 3px 7px 3px;
}

.guide-content:nth-child(1):hover {
    cursor: pointer;
}

.guide-content:nth-child(2):hover {
    cursor: zoom-in;
}

.guide-content:nth-child(3):hover {
    cursor: move;
}

.info-wrapper {
    display: block;
    border: 1px solid black;
    background-color: black;
}

.profile-wrapper {
    display: block;
    opacity: 1;
    transition: 0.5s ease-in;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: black;
    box-shadow: rgba(60, 64, 67, 0.3) 1px 2px 3px 1px, rgba(60, 64, 67, 0.15) 1px 3px 7px 3px;
}

.guide-wrapper-shown {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: black;
    box-shadow: rgba(60, 64, 67, 0.3) 1px 2px 3px 1px, rgba(60, 64, 67, 0.15) 1px 3px 7px 3px;
    z-index: 2;
}

.guide-container {
    display: flex;
}

.guide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    min-width: 300px;
}

    .guide-content i {
        font-size: 40px;
        color: #ffff;
    }

    .guide-content h2 {
        font-family: "Poppins", sans-serif !important;
        font-size: 20px;
        color: #ffff;
    }

.guide-info {
    display: flex;
    align-items: center;
    height: 100px;
    width: 200px;
}

    .guide-info h3 {
        font-family: "Poppins", sans-serif !important;
        text-align: center;
        font-size: 14px;
        color: #ffff;
    }

.guide-close-btn {
    display: flex;
    position: absolute;
    right: 0;
    padding: 10px;
    border-radius: 50%;
    margin: 5px 5px 0 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: #ffff;
}

    .guide-close-btn i {
        margin-top: -5px;
        cursor: pointer;
        font-size: 20px;
    }

.upload-wrapper {
    display: block;
    border: 1px solid black;
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.upload-container {
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.upload-header {
    display: flex;
    border: 1px solid black;
}

.upload-body {
    border: 1px solid black;
}

.upload-footer {
    border: 1px solid black;
}

.upload-header button {
    display: flex;
    border: none;
}

.upload-btn {
    border: none;
    margin-left: 10px;
    padding: 5px 10px;
}

.parameter-wrapper {
    display: block;
    border: 1px solid black;
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.parameter-container {
    display: flex;
    flex-direction: column;
    z-index: 99;
}

.parameter-header {
    display: flex;
    border: 1px solid black;
}

.parameter-body {
    border: 1px solid black;
}

.parameter-footer {
    border: 1px solid black;
}

.info-mode-wrapper {
    display: block;
    border: 1px solid black;
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.info-mode-container {
    display: flex;
    flex-direction: column;
}

.info-mode-header {
    display: flex;
    border: 1px solid black;
}

.info-mode-body {
    border: 1px solid black;
}

.info-mode-footer {
    border: 1px solid black;
}

.info-mode-header button {
    display: flex;
    border: none;
}

.info-mode-btn {
    border: none;
    margin-left: 10px;
    padding: 5px 10px;
}

.display-wrapper {
    display: block;
    border: 1px solid black;
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.display-container {
    display: flex;
    flex-direction: column;
}

.display-header {
    display: flex;
    margin: 5px;
}

    .display-header i {
        color: black;
        font-size: 24px;
        margin-left: 5px;
    }

.search-wrapper {
    display: block;
    border: 1px solid black;
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.search-container {
    display: flex;
    flex-direction: column;
}

.search-header {
    display: flex;
    border: 1px solid black;
}

.search-body {
    border: 1px solid black;
}

.search-footer {
    border: 1px solid black;
}

.status-wrapper {
    display: block;
    border: 1px solid black;
    margin-right: 15px;
    background-color: white;
    z-index: 99;
    width: calc(100% - 300px);
    position: absolute;
    top: 70px;
}

.status-container {
    display: flex;
    flex-direction: column;
}

.status-header {
    display: flex;
    border: 1px solid black;
}

.status-body {
    border: 1px solid black;
    max-height: 500px;
    overflow: auto;
}

.library-wrapper {
    display: block;
}

.library-container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 15px);
}

.library-header {
    display: flex;
    border: 1px solid black;
}

.library-body {
    display: grid;
    margin-top: 10px;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    column-gap: 40px;
    row-gap: 30px;
    border: 1px solid black;
}

.library-content {
    border: 1px solid black;
    margin: 10px;
    max-height: 350px;
    max-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.library-content-add {
    border: 2px solid black;
    border-style: dashed;
    margin: 10px;
    max-height: 350px;
    max-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .library-content-add img {
        min-height: 300px;
    }

.library-content img {
    object-fit: scale-down;
    height: 300px;
    width: 300px;
}

@media (max-width: 1440px) {
    .library-body {
        grid-template-columns: auto auto auto;
        column-gap: 30px;
        row-gap: 30px;
        display: grid;
        justify-content: space-evenly;
    }
}

@media (max-width: 1024px) {
    .library-body {
        grid-template-columns: auto auto;
        column-gap: 30px;
        row-gap: 30px;
        display: grid;
        justify-content: space-evenly;
    }
}

@media (max-width: 768px) {
    .library-body {
        grid-template-columns: auto;
        column-gap: 30px;
        row-gap: 30px;
        display: grid;
        justify-content: space-evenly;
    }
}

.library-add {
    color: black;
    font-size: 50px;
}

.library-user {
    color: black;
    position: absolute;
    left: 5px;
    bottom: 0;
    text-decoration: none;
}

.library-like {
    color: black;
    position: absolute;
    right: 5px;
    top: 0px;
}

    .library-like i {
        font-weight: 500;
    }

.library-download {
    color: black;
    position: absolute;
    right: 5px;
    bottom: 0;
}

.canvas-container {
    margin: 0;
    overflow: hidden;
    border: 1px solid black;
    width: calc(100% - 15px);
    /* max-height: 1080px; */
}

.canvas {
    display: block;
    width: 100%;
    max-height: 1080px;
}

/* @media (max-width: 1920px) {
    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 400px;
        min-width: 300px;
    }
}
@media (max-width: 1200px) {
    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 350px;
        min-width: 250px;
    }
    .guide-content i {
        font-size: 36px;
        color: #ffff;
    }
    .guide-content h2 {
        font-size: 16px;
        color: #ffff;
    }
    .guide-info {
        display: flex;
        align-items: center;
        height: 90px;
        width: 180px;
    }
    .guide-info h3 {
        text-align: center;
        font-size: 12px;
        color: #ffff;
    }
    .guide-close-btn {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: none;
        background-color: #ffff;
    }
    .guide-close-btn i {
        margin-top: -4px;
        cursor: pointer;
        font-size: 16px;
    }
}
@media (max-width: 1024px) {
    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
        min-width: 200px;
    }
    .guide-content i {
        font-size: 30px;
        color: #ffff;
    }
    .guide-content h2 {
        font-size: 14px;
        color: #ffff;
    }
    .guide-info {
        display: flex;
        align-items: center;
        height: 80px;
        width: 160px;
    }
    .guide-info h3 {
        text-align: center;
        font-size: 10px;
        color: #ffff;
    }
    .guide-close-btn {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        background-color: #ffff;
    }
    .guide-close-btn i {
        margin: -5px 0 0 -2px;
        cursor: pointer;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 250px;
        min-width: 150px;
    }
    .guide-content i {
        font-size: 24px;
        color: #ffff;
    }
    .guide-content h2 {
        font-size: 12px;
        color: #ffff;
    }
    .guide-info {
        display: flex;
        align-items: center;
        height: 60px;
        width: 120px;
    }
    .guide-info h3 {
        text-align: center;
        font-size: 8px;
        color: #ffff;
    }
    .guide-close-btn {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        background-color: #ffff;
    }
    .guide-close-btn i {
        margin: -9px 0px 0 -6px;
        cursor: pointer;
        font-size: 14px;
    }
}
@media (max-width: 480px) {
    .guide-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 180px;
        min-width: 100px;
    }
    .guide-content i {
        font-size: 20px;
        color: #ffff;
    }
    .guide-content h2 {
        font-size: 10px;
        color: #ffff;
    }
    .guide-info {
        
        align-items: center;
        height: 50px;
        width: 80px;
    }
    .guide-info h3 {
        text-align: center;
        font-size: 8px;
        color: #ffff;
    }
    .guide-close-btn {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px;
        border-radius: 50%;
        margin: 5px 5px 0 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
        border: none;
        background-color: #ffff;
    }
    .guide-close-btn i {
        margin: -9px 0px 0 -6px;
        cursor: pointer;
        font-size: 14px;
    }
} */


